{% extends 'basic.html' %}
{% block title %}Arristi . Check the strength of your password! Explore AI, Ethical Hacking Skills{% endblock %}
{% block head %}{% load static %}
<script src="{%static 'index.js' %}"></script>{% endblock %}
{% block blogcolor %}red{% endblock %}
{% block body %}

<div class="container">
    <center><img src="{%static 'images/arristi-img.jpeg' %}" class="img-fluid mt-5" alt="Responsive image"></center>
    <center><h4 class="my-3 mt-5">Check Your Password Strength</h4></center>
    <center>
        <div class="input-group mb-5">
            <input type="text" class="form-control badge-pill" placeholder="Enter Password" aria-label="Recipient's username"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1">Show</span>
            </div>
        </div>
    </center>

    <center>
        <a href="blog/ai"><button type="button" class="btn btn-primary"><b>AI Blogs</b></button></a>
        <a href="blog/ethical"><button type="button" class="btn btn-danger"><b>Hacking Blogs</b></button></a>
    </center>


</div>
{% endblock %}

