{% extends 'basic.html'%}
{% block title %}Blogs . All blogs from Arristi.in{% endblock %}
{% block blogcolor %}blue{% endblock %}

{% block body %}

<div class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Arristi.in</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blogs</li>
        </ol>
    </nav>

    <div class="card my-3">
        <a class="text-dark" href="/blog/ai">
            <img src="/media/blog/images/ai1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a class="text-dark" href="/blog/ai">
                <h5 class="card-title">Artificial Intelligence (AI)</h5>
            </a>
            <p class="card-text">Artificial intelligence (AI) refers to the simulation of human
                intelligence in machines that are programmed to think like humans and mimic their
                actions. The term may also be applied to any machine that exhibits traits associated
                with a human mind such as learning and problem-solving.</p>

            <a href="/blog/ai">
                <button class="btn btn-primary">AI Blogs</button>
            </a>
            <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
        </div>
    </div>


    <div class="card mt-5 mb-3 ">
        <a class="text-dark" href="/blog/ethical">
            <img src="/media/blog/images/ethical1a.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a class="text-dark" href="/blog/ethical">
                <h5 class="card-title">Ethical Hacking (EH)</h5></a>
            <p class="card-text">Ethical hacking (EH) is the practice of defending computers, servers,
                mobile devices, electronic systems, networks, and data from malicious attacks. It's
                also known as information technology security or electronic information security.</p>
            <a href="/blog/ethical">
                <button class="btn btn-primary">Ethical Hacking Blogs</button>
            </a>
            <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
        </div>
    </div>


</div>

{% endblock %}