<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortout icon" type="image/x-icon" href="/media/favicon.ico"/>
    <!--    {%static 'images/favicon.ico' %}-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178235862-1"></script>
    <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-178235862-1');




    </script>

    {% block head %} {% endblock %}
    <style>
        {% block css %} {% endblock %}

    html{
    height: 100%;
    }

    body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    }

    .content{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    }
    .blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    }
    .brand-image
    {
    width: 30px;
    }






    </style>
    <!--    <div id="fb-root"></div>-->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0"
            nonce="q8wUUUOZ"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a href="/"><img class="brand-image" src="/media/favicon.ico"></a>&nbsp;&nbsp;
    <a class="navbar-brand" href="/"><b>Arristi.in</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-5">
            <li class="nav-item {% block activeblog %}{% endblock %}">
                <a class="nav-link" style="color:{% block blogcolor %}{% endblock %}" href="/blog"><b>Blogs</b></a>
            </li>
            <li class="nav-item {% block activeabout %}{% endblock %}">
                <a class="nav-link" style="color:{% block aboutcolor %}{% endblock %}" href="/about">About Us</a>
            </li>
            <li class="nav-item {% block activecontact %}{% endblock %}">
                <a class="nav-link" style="color:{% block contactcolor %}{% endblock %}" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
{% for message in messages %}
<div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="content">
    {% block body %} {% endblock %}
</div>

<footer class="blog-footer">
    <p>
        <a href="/about">About Us</a>&nbsp
        <a href="/contact">Contact Us</a>
    </p>
    <p>© 2020 <a href="/"><b>Arristi.in</b></a>, Inc. · <a href="/privacy">Privacy</a> · <a href="/terms">Terms</a>
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

{% block js %}{% endblock %}
</body>
</html>