{% extends 'basic.html' %}
{% block body %}
<div class="container my-4 mx-4">
    <form>
        <div class="form-group" style="width:800px; padding-left:200px; padding-top:100px;">
            <h3 class="my-4" style="text-align: center;">Check Your Password Strength</h3>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter your password here"></textarea>
        </div>
    </form>
    <center><button type="submit" class="btn btn-danger">Password Strength</button></center>
</div>
{% endblock %}